@font-face {
    font-family: myFonts;
    src: url(./AusionPersonalUse-Extra.otf);

}
@font-face {
    font-family: myFonts1;
    src: url(./AusionPersonalUse.otf);

}
:root{
    --grey:rgb(133, 131, 131);
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar{
    background-color: black;
    padding:6px;
    height:40px;
    /* position:fixed; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  

}
.navbar ul {
    display:flex;
    justify-content: flex-end;
    margin-left: 43%;
    list-style: none;
    
}

.navbar ul li a{
    text-decoration: none;
    color:rgb(201, 195, 195);
    font-size: 13px;
    padding:0 20px;
    border-right: 1px solid rgb(201, 195, 195);
    letter-spacing: 0.2px;
    
}

.navbar ul li a:hover{
    color:hsla(91, 69%, 54%,0.8);
}
#support{
    border:none;
}

#header{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    box-shadow:1px 1px 7px 1px rgb(212, 211, 211);
}
#header img{
    margin-left: 2%;
    /* width:9%;
    height:7%; */
    width:130px;
    height:45px;
}
#header ul {
    display:flex;
    margin-top: 1%;
    margin-right: 3%;
    list-style: none;

}
#header ul li{
    
    padding:22px 23px;
}
#header ul li a{
    /* align-items: center; */
    text-decoration: none;
    font-size: 15px;
    color:rgb(80, 79, 79);
    letter-spacing: 0.5px;
}
#header ul li a:hover{
    color:rgb(94, 170, 23);
}
#booknow{
    /* background-color:rgb(171, 226, 21); */
    /* background-color:hsl(70, 83%, 48%); */
    background-color:hsl(68, 86%, 48%);
    border-radius: 2px;
    padding:9px 24px;
}
#header ul #booknow:hover{
    
    background-color:hsl(70, 83%, 45%);
    color:black
}
/* #header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }*/
.content {
    position:relative;
    /* border:2px solid red; */
    margin-top: 7%;
    z-index:1;
    width:100%;
    height:1000px;
  } 
.heading{
    position:absolute;
    top:4%;
    width:100%;
    height:600px;
    /* border:1px solid red; */
    text-align: center;
}
.heading h1{
    color:white;
    font-size:36px;
}
.heading p{
    color:white;
    font-size:20px;
    letter-spacing: 0.6px;
}
.img_container{
    /* border:3px solid blue; */
    width:100%;
    height:600px;
}
.content img{
    width:100%;
    height:100%;
    object-fit: cover;
}


.card{
    position:absolute;
    top:16%;
    left:6%;
    /* border:2px solid pink; */
    /* width:30%; */
    width:400px;
    height:320px;
    /* height:32%; */
    background-color:rgb(245, 245, 245);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
}
.navbar-nav > .active > a { 
    border-radius: 20px;
    padding:5px 7px;
    background-color: hsl(68, 86%, 48%) ; 
}
.card-body{
    background-color:rgb(245, 245, 245);
    height:80%;
}
.card-body .card-body-1{
    color:rgb(53, 52, 52);
    font-family:myFonts;
    margin-top: -10px;
} 
.card-body .card-body-2{
    font-size: 14px;
    margin-top: -14px;
} 
.card .nav_card ul{
    border-bottom:1px solid rgb(236, 235, 235);
    display:flex;
    flex-direction: row;

    height:45px;
    align-items: center;
    justify-content: space-around;
}



.card ul li{
    list-style: none;
}
.card ul li a{
    text-decoration: none;
    font-family: myFonts;
    color:black;
    font-size:14px;
    font-weight: 450;
} 
.pickup{
    margin-top: 12px;
    display:flex;
    background-color: rgb(224, 220, 220);
    margin-left: -10px;
    width:380px;
    height:40px;
    outline: none;
    border-radius: 3px;
    align-items: center;
}
.pickup .pickup1{
    color:rgb(133, 131, 131);
    font-size: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
}
.pickup .pickup2{
    padding-top: 18px;
}
.drop{
    margin-top: 8px;
    display:flex;
    background-color: rgb(224, 220, 220);
    margin-left: -10px;
    width:380px;
    height:40px;
    outline: none;
    border-radius: 3px;
    align-items: center;
}
.drop .drop1{
    color:rgb(133, 131, 131);
    font-size: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 26px;
}
.drop .drop2{
    color:rgb(133, 131, 131);
    padding-top: 18px;
}

.when{
    margin-top: 8px;
    display:flex;
    background-color: rgb(224, 220, 220);
    margin-left: -10px;
    width:380px;
    height:40px;
    outline: none;
    border-radius: 3px;
    align-items: center;
}
.when .when1{
    color:rgb(133, 131, 131);
    font-size: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
}
.when .when2{
    height:100%;
    width:80%;
    background-color: rgb(224, 220, 220);
    border:none;
    font-size: 15px;
    outline:none;
}
.search-cabs{
    margin-top: 10px;
    background-color: hsl(68, 86%, 48%) ; 
    width:380px;
    height:45px;
    margin-left: -10px;
}

.search-cabs a{
    text-decoration: none;
    color:rgb(48, 48, 48);
    font-size:18px;
    font-family: myFonts;
    line-height: 45px; 
}

/* SLIDER */
span{
    position: absolute;
    top:6px;
    right:98%;
    font-size:50px;
    color:rgb(73, 73, 73);
    z-index: 1;
    cursor: pointer;
}
span:nth-of-type(2){
    left:98%;
    text-align: right;
}

.slider{
    top:550px;
    left:80px;
    right:100px;
    position: absolute;
    min-width: 1100px;
    min-height:90px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 50px;
    padding-right: 50px;
    background-color:white;
    /* overflow: hidden; */
    /* border:2px solid orange; */
    box-shadow:1px 2px 7px 1px rgb(212, 211, 211);
}
.slidercard-container{
    position: absolute;
    max-width: 1090px;
    min-height:80px; 
    display:flex;
    justify-content:left;
    overflow-y: hidden;
    /* border:2px solid orange; */
    /* margin-left: auto;
    margin-right: auto; */
    /* z-index: 1000;
    padding-left: 50px;
    padding-right: 30px;
    
    background-color:rgb(216, 125, 125);
    
    /* box-shadow:1px 2px 15px 1px rgb(212, 211, 211); */

}
.slidercard-container::-webkit-scrollbar{
    visibility: hidden;
}
.slider .slidercard{
    /* flex:1; */
    margin-right:10px;
    padding:5px 20px;
    display:flex;
    min-width:350px;
    /* min-width:80px; */
    height:90px; 
    /* background-color:pink; */
    /* align-items: center; */
    border-right: 1px solid rgb(230, 230, 230);
    transition: 0.5s;

    /* animation: scroll 6s linear infinite;
    animation-delay: 5s; */
    
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-390px);
    }
}
.slidercard .text .title{
    font-family:myFonts;
    color:hsl(194, 81%, 43%);
    font-size: 19px;
    
}
.slider .slidercard :hover{
    color: hsl(91, 86%, 55%) ; 
    cursor: pointer;
}
.slidercard .text .subtitle{
    /* font-family:myFonts; */
    color:rgb(133, 131, 131);
    font-size: 16px;
    
}
.slidercard .one{
    font-size:20px;
    color:black;
}
.slidercard.fourth{
    border-right: none;
}
.slider .slidercard .img1{
    height:40px;
    width:50px;
    margin-top: 20px;
    /* border:2px solid red; */
}
.slider .slidercard .img1 img{
    width:40px;
    height:40px;

    /* object-fit: cover; */
}

.slider .slidercard .img2{
    height:120px;
    width:30%;
    margin-top: 10px;
}
.slider .slidercard .img2 img{
    width:70px;
    height:60px;
    /* object-fit: cover; */
}

.slider .slidercard .img3{
    height:120px;
    width:40%;
    margin-top: 10px;
}
.slider .slidercard .img3 img{
    width:75px;
    height:60px;
    /* object-fit: cover; */
}

.slider .slidercard .img4{
    height:120px;
    width:20%;
    margin-top: 10px;
}
.slider .slidercard .img4 img{
    width:50px;
    height:50px;
}
.slidercard .text {
    padding-left:18px;
    margin-top: 2px;
}



#heading{
    margin-top:90px;
    margin-left: 80px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: bold;
}
#para{
    margin-left: 80px;
    color:var(--grey);
    font-size: 18px;
}


/* CARD */
.card-container{
    margin-left: 75px;
    margin-top:60px;
    margin-right: 105px;
    /* border:2px solid red; */
    display:flex;
}
.card-details{
    min-width:360px;
    height:490px;
    border-radius: 6px;
    /* border:2px solid green; */
    margin-right:38px;
    box-shadow:1px 2px 7px 1px rgb(212, 211, 211);

}
.card-details img{
    border-radius: 6px;
}
.card-image #card1car{
    position:absolute;
    top:950px;
    left:340px;
    width:72px;
    height:72px;
}
.card-image #card2car{
    position:absolute;
    top:950px;
    left:740px;
    width:72px;
    height:72px;
}
.card-image #card3car{
    position:absolute;
    top:950px;
    left:1140px;
    width:72px;
    height:72px;
}

.card-details .card-content{
    padding:20px;
}
.card-content h3{
    font-family: myFonts;
    letter-spacing: 0.9px;
    color:rgb(75, 75, 75);
    font-size: 18px;

}
.card-content>p{
padding-top: 15px;
color:rgb(122, 122, 122);
letter-spacing: 0.5px;
line-height: 23px;
font-size: 15px;
}
.card-footer{
    display:flex;
    color:rgb(122, 122, 122);
    padding:0px 0px;
    padding-left: 20px;
    align-items: center;
    border:none;
    /* border:2px solid purple; */
    /* justify-content: space-around; */
    
}
.card-footer img{
    width:30px;
    height:30px;
    padding-right: 7px;
}
.card-footer.three{
 margin-top: 10px;  
}
.three #hourly{
    padding-right: 15px;

}
.three #multiplestops{
    padding-right: 20px;
}
.three #toprated{
    padding-right: 20px;
}

#whyride{
    margin-top:90px;
    margin-left: 80px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: bold;
}
#bestway{
    margin-left: 80px;
    color:rgb(180, 180, 180);
    font-size: 18px;
}
/* GRID */
.grid{
    display:grid;
    margin:40px 80px;
    /* background-color:pink; */
    grid-row-gap: 50px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid-content{
    /* border:2px solid red; */
    display: flex;
    height:125px;
    align-items: center;
}
.grid-content:hover{
    background-color:rgb(250, 250, 250);
}
.grid-img{
    width:170px;
    height:105px;
    /* border:2px solid red; */
    object-fit: cover;
}
.grid-img img{
    border-radius: 4%;
}
.grid-text{
    margin-left: 20px;
    /* padding-left: 20px; */
    width:345px;
    /* border:2px solid purple; */
}
.grid-text .gridtext-title{
    font-size:22px;
    font-weight: 500;
}
.grid-text .gridtext-title:hover{
    color:hsl(68, 86%, 48%); 
}
.grid-text .gridtext-subtitle{
    padding-top: 8px;
    color:rgb(114, 114, 114);
    letter-spacing: 0.6px;
    font-size: 15px;
    line-height:23px;
}

#awesomefleet{
    margin-left: 80px;
    margin-top: 100px;
    font-size:35px;
    font-weight: bold;
}
#widestway{
    margin-left: 80px;
    color:rgb(126, 126, 126);
    font-size: 18px;
}


.carousel-container{
    margin-top: 50px;
    width:100%;
    height:600px;
    /* border:3px solid red; */
    /* background-color: rgb(241, 241, 241); */
    background-image: linear-gradient(rgb(233, 233, 230), rgb(255, 255, 255));
    border-bottom: 1px solid rgb(226, 225, 225);
}
.carousel{
   width:100%;
   height:100%;
   /* border:2px solid purple; */
   /* background-color: aqua; */
}
.flex{
   display:flex;
   justify-content: space-around;
   align-items: center;
}
.carousel-inner{
   width:92%;
   height:100%;
   margin-left: 50px;
   /* border:5px solid rgb(248, 192, 255); */
   /* display:flex; */
}
.carousel-item.active{
   width:100%;
   height:100%;
   /* border:5px solid rgb(248, 192, 255); */
   /* display:flex; */
}
.carouselimg-container{
   margin-left: 50px;
   margin-top: 100px;
   width:640px;
   height:420px;
   /* border: 3px solid orangered; */
}
.carouselimg-container img{
   width: 90%;
   height:100%;
   /* border: 3px solid orangered; */
}
.carousel-content{
   margin-right: 10px;
   margin-top: 100px;
   width:450px;
   /* border: 3px solid rgb(0, 255, 98); */
}
.carousel-content h2{
   font-weight: bold;
}
.carousel-content p{
   font-size: 18px;
   color:rgb(70, 70, 70);
   padding-right: 75px;
   /* border:2px solid teal; */
}
.carousel-content #carouselpara{
   color:rgb(53, 53, 53);
   padding-right: 0px;
   margin-top: -10px;
   font-weight: 500;
   font-size: 20px;
}
.carousel-content-img img{
   width:30px;
   object-fit: cover;
   
}

.carousel-control-prev span{
    margin-top: 270px;
   margin-right: -40px;
   background-color: grey;
   border-radius: 50%;
}
.carousel-control-next span{
    position: absolute;
    left:150px;
    margin-top: 270px;
   margin-left: 0px;
   background-color: grey;
   border-radius: 50%;
}

#bookfromApp{
    margin-left: 80px;
    margin-top: 100px;
    font-weight: bold;
    font-size:35px;
}
#downloadapp{
    margin-left: 80px;
    color:rgb(126, 126, 126);
    font-size: 18px;
}
.get-it{
    margin-left: 80px;
    margin-top: 80px;
    display:flex;
    width:510px;
    height:50px;
    /* border:2px solid green; */
}
.get-it .img{
    width:170px;
    height:50px;
    margin-right:6px;
    /* border:2px solid orange; */
}
.get-it .img img{
    border-radius: 4%;
}
.get-it .img1 img{
    width:100%;
    height:100%;
}
.phone-pic-container{
    margin-left: 55%;
    margin-top: -21.5%;
    width:500px;
    height: 400px;
    /* border:2px solid red; */
}
.phone-pic-container img{
    /* border:2px solid purple; */
    width:480px;
    height:380px;
    /* object-fit: cover; */
}

.last-card-container{
    margin-top: -18px;
    display:flex;
    /* background-color:pink; */
    height:150px;
    /* border:2px solid yellow; */
    box-shadow:1px -1px 7px 1px rgb(212, 211, 211);
    
}
.last-card{
    display:flex;
    align-items: center;
    border:2px solid rgb(255, 255, 255);
}
.last-card.card1{
    margin-left: 70px;
    /* margin-right: 180px; */

}
.last-card.card2{
    margin-left: 70px;
    /* margin-right: 180px; */

}
.last-card.card3{
    margin-left: 70px;
    margin-right: 140px;

}
.last-card-img1{
    width:130px;
    height:90px;
    /* border:2px solid palevioletred; */
}
.last-card-img2{
    width:140px;
    height:90px;
    /* border:2px solid palevioletred; */
}
.last-card-img3{
    width:140px;
    height:90px;
    /* border:2px solid palevioletred; */
}
.last-card-text{
    margin-left: 20px;
    /* border:2px solid black; */
    height:100px;
}
.last-card-text .last-card-title{
    font-size: 18px;
    font-weight: 600;
    color:black;
}
.last-card-text .last-card-subtitle{
    color:rgb(126, 126, 126);
}
.final{
    height:600px;
    width:100%;
    background-color:rgb(54, 54, 54);
}